@CHARSET "ISO-8859-1";
.default {
	background-color: white;
	color: black;
	
}

.default ul{
	list-style-type: none;
}

.default ul li{
	padding: 1vw;
}
.normal {
	background-color: gray;
	color: black;
}

.stylised {
	background-color: black;
	color: gray;
}